header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    color: black;
}

.logo,
.nav-links,
.nav-cart {
    width: 18rem;
}

.logo {
    text-align: start;
}

.nav-links {
    text-align: center;
}

.nav-cart {
    text-align: end;
}

.logo {
    font-size: 4rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-links li {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    transition: transform 0.5s;
}

.nav-links li::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #0c4a6e;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-links li:hover::after {
    transform: scaleX(1);
}

.cart {
    font-size: 1.2rem;
    color: black;
}

.cart:hover {
    color: #737373;
}
