footer {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.reflink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.3rem;
}

.reflink:hover {
    color: #cbd5e1;
}
