.store {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store h1 {
    font-size: 5rem;
    text-align: center;
    padding: 0 0 2rem 0;
    letter-spacing: 0.1rem;
}

.product-group {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    gap: 3rem;
}

.product-item-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 16px;
}

.product-item-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-item-info p:nth-child(1) {
    height: 7rem;
}

.product-item-info p:nth-child(2) {
    font-weight: 700;
}

.btn-increment,
.btn-decrement,
.btn-add-cart,
.btn-increment:focus,
.btn-decrement:focus,
.btn-add-cart:focus,
.btn-increment:active,
.btn-decrement:active,
.btn-add-cart:active {
    font-size: 2rem;
    border: 1px solid black;
}

.product-item-group p {
    text-align: center;
}

.btn-product-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 2.5rem;
}

.store img {
    height: 12rem;
    width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
    object-fit: contain;
    object-position: 50% 50%;
}

.btn-increment,
.btn-decrement {
    width: 2rem;
}

@media (max-width: 1450px) {
    .store h1 {
        font-size: 4rem;
    }

    .product-group {
        grid-template-columns: repeat(4, 15rem);
        gap: 2rem;
    }

    .product-item-group {
        gap: 1.5rem;
        font-size: 1.5rem;
    }

    .product-item-info p:nth-child(1) {
        height: 5rem;
    }

    .btn-increment,
    .btn-decrement,
    .btn-add-cart,
    .btn-increment:focus,
    .btn-decrement:focus,
    .btn-add-cart:focus,
    .btn-increment:active,
    .btn-decrement:active,
    .btn-add-cart:active {
        font-size: 1.5rem;
    }

    .quantity {
        font-size: 1.5rem;
        width: 2rem;
    }

    .store img {
        height: 10rem;
    }
}

@media (max-width: 850px) {
    .store h1 {
        font-size: 3rem;
    }

    .product-group {
        grid-template-columns: repeat(2, 15rem);
        gap: 2rem;
    }

    .product-item-group {
        gap: 1.5rem;
        font-size: 1.5rem;
    }

    .product-item-info p:nth-child(1) {
        height: 6rem;
    }

    .btn-increment,
    .btn-decrement,
    .btn-add-cart,
    .btn-increment:focus,
    .btn-decrement:focus,
    .btn-add-cart:focus,
    .btn-increment:active,
    .btn-decrement:active,
    .btn-add-cart:active {
        font-size: 1.5rem;
    }

    .quantity {
        font-size: 1.5rem;
        width: 2rem;
    }

    .store img {
        height: 10rem;
    }
}

@media (max-width: 420px) {
    .store h1 {
        font-size: 2rem;
    }

    .product-group {
        grid-template-columns: repeat(1, 15rem);
        gap: 2rem;
    }

    .product-item-group {
        gap: 1.5rem;
        font-size: 1.5rem;
    }

    .product-item-info p:nth-child(1) {
        height: 6rem;
    }

    .btn-increment,
    .btn-decrement,
    .btn-add-cart,
    .btn-increment:focus,
    .btn-decrement:focus,
    .btn-add-cart:focus,
    .btn-increment:active,
    .btn-decrement:active,
    .btn-add-cart:active {
        font-size: 1.5rem;
    }

    .quantity {
        font-size: 1.5rem;
        width: 2rem;
    }

    .store img {
        height: 10rem;
    }
}
